body {

h1, h2 {
  color: #38bdf8;
}

.btn {
  display: inline-block;
  background: #38bdf8;
  color: #020617;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: #020617;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}
