
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at 20% 20%, #1e293b, #020617 60%);
  color: #e2e8f0;
  line-height: 1.6;
  animation: fadePage 0.6s ease;
}

@keyframes fadePage {
  from { opacity: 0; }
  to { opacity: 1; }
}


img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  width: 130px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 20px;
  color: #e2e8f0;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.btn-nav {
  background: linear-gradient(90deg, #38bdf8, #a78bfa);
  padding: 8px 15px;
  border-radius: 6px;
  color: #0b0f1a;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.8rem;
}

.hero p {
  margin-top: 15px;
  color: #cbd5e1;
}

/* SECTIONS */
.section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
  position: relative;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.section p {
  color: #cbd5e1;
  margin-bottom: 15px;
}

/* CARDS */
.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.card {
  flex: 1;
  min-width: 250px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* TEAM */
.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.member {
  text-align: center;
}

.member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.member h3 {
  margin-top: 10px;
}

.member p {
  color: #cbd5e1;
}

/* CONTACT */
.contact-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.contact-form,
.contact-info {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #1e293b;
  border: 1px solid #333;
  color: #fff;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px 20px;
  color: #94a3b8;
}


@media (max-width: 768px) {

  nav {
    padding: 15px 20px;
  }

  .nav-links {
    display: none; /* redo för hamburgermeny */
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .section h2 {
    font-size: 1.6rem;
  }

  .grid {
    flex-direction: column;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .contact-container {
    flex-direction: column;
  }

  .member img {
    width: 100px;
    height: 100px;
  }
}
